@charset "utf-8";
/* CSS Document */
.pic{
	width:10%;
}
p{
	display:inline-block;
	position:absolute;
	left:2px;
	font-size:0px;
	-webkit-transition:font-size 1s linear 2s;
	transition:font-size 0.3s linear 2s;
	z-index:4;
}
.pic:hover + p{
	font-size:100px;
	border-radius:10Px;
	border:#000 2px solid;
}
	
